# LiDAR cone detector configuration file
# Matt Young, 2022, UQRacing

lidar_processing:
  ########## TOPICS ##########
  # Topic to receive PointCloud2 LiDAR data from
  lidar_topic: "/lslidar_point_cloud"
  # Topic to publish the depth images to. Compressed images only. Must end in /compressed.
  lidar_depth_pub: "/lidar_processing/depth/compressed"
  # Topic we receive CameraInfo messages from
  camera_info_topic: "/camera/color/camera_info"

  ########## PIPELINE SETTINGS ##########
  # Enable morphological operations. Basically increases pixel size (makes it more chunky). Fast.
  morphological: true
  # Enable inpainting. Fills in missing details in the depth image. Very slow if used on whole frame.
  inpainting: false
  # If true, publish a colour image (not useful for depth lookups, but good for debug/showing off).
  publishColour: true

  # Only inpaint within this ROI rectangle in the depth image to improve performance.
  # Can be determined by saving an image, importing it into GIMP and using rectangle select tool.
  # Format: x,y,width,height
  inpaintRoi:
    - 464
    - 381
    - 646
    - 158

  ########## CAMERA PARAMETERS ##########
  # Extrinsic parameters
  # Rotation vector (x,y,z)
  rvec:
    - 0.0
    - -1.2
    - 0.0
  # Translation vector (x,y,z)
  tvec:
    - 0.0
    - 0.04
    - 0.03

  ########## DEBUG SETTINGS ##########
  # Topic to debug pubilsh inpainting mask to. If empty, this is disabled.
  inpainting_debug_pub: "/lidar_processing/inpaintingDebug/compressed"
  # Topic we receive compressed camera frames from. Only for debug.
  camera_frame_topic: "/camera/color/image_raw/compressed"
