# LiDAR cone detector configuration file

lidar_processing:
  # Topic to receive PointCloud2 LiDAR data from
  lidar_topic: "/lslidar_point_cloud"

  # Topic to publish debug point cloud to, if empty string debug then topic is disabled
  lidar_debug_pub: "/lidar_cone/debug"

  # Topic to publish the depth images to
  lidar_depth_pub: "/lidar_cone/depth"

  # Camera parameters
  # Name of the topic we receive CameraInfo messages from
  camera_info_topic: "/camera/color/camera_info"