segmenter:
  segment:    {angle: 12.0, window: 5}
  ground:     {angle: 5.0, window: 5}
  
  # Robosense
  # vertical: {resolution: 0.2, min_angle: -12.5, max_angle: 12.5}
  # horizontal: {resolution: 0.2, min_angle: -60, max_angle: 60}
  
  # Velodyne
  vertical: {resolution: 1.875, min_angle: -15, max_angle: 15}
  horizontal: {resolution: 0.2, min_angle: -180, max_angle: 180}